.carousel-caption{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    left:0;
    bottom: 0;
    padding-bottom: 2rem;
    padding-left: 2rem;
}

.team .col-lg-4 {
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.section-divider{ 
    margin: 3rem 0;
}

.footer-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}



@media (min-width: 1200px) {
  .feature-heading {
    margin-top: 10rem;
  }
}

@media (max-width: 540px) {
    .carouselImg {
        display: none;
    }
    
    .team {
        margin-top: 2rem;
    }
}
















body {
  font-family: Arial, sans-serif;
}

.contact-us {
  background-color: #f8f9fa;
}

.contact-us h2 {
  color: #333;
}

.contact-form, .contact-info {
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info h4, .contact-info h5 {
  margin-top: 0;
  color: #555;
}

.social-links a {
  color: #007bff;
  text-decoration: none;
  margin-right: 10px;
}

.social-links a:hover {
  color: #0056b3;
}
